{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <style type="text/css">
    select {
      width: 200px;
    }
  </style>
</head>
<body>
<form method="post" action="">
  {% csrf_token %}
    First sequence: {{form.first_sequence}}    </br>

    Second sequence: {{form.first_sequence}}    </br>

    Type: {{form.sequence_type}}    </br>

    Window: {{form.window}}    </br>

    Minimal length: {{form.minimal_precision}}

    {{form.as_table}}
    </br>
 <center> <input type="submit" value="Create"/> </center>
</form>
</body>